.backdrop {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.content {
  width: 360px;
  max-width: calc(100vw - var(--seed-dimension-x8));
  word-break: keep-all;
}

.actions {
  flex-direction: column;
  gap: var(--seed-dimension-x2);
}

.actions > * {
  width: 100%;
}
